<html>
  <link rel="stylesheet" href="style.css">
  <body>
    <div id="app">
      <br><br><br><br><br>
      <div class="big-text" align="center">I n c r i m i n a T o r</div>

      <div class="field-form"><b>
        <table align="center">
          <tr><td>Enter an IP:</td><td><input type="text" name="ip" v-model="ip" placeholder="127.0.0.1"></td></tr>
          <tr><td>Enter a date:</td><td><input type="date" name="date" v-model="date"></td></tr>
        </table>
      </div>

      <br><br>

      <div align="center"><button class="go-btn" v-on:click="diveIn"> Let's dive in </button></div>

      </b>


      <p>{{ hello }}</p>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="index.js"></script>
  </body>
</html>
