{% load static %}

<html>
  <link rel="stylesheet" href="{% static "style.css" %}">
  <body>
    <div id="app">
      <br><br><br><br><br>
      <div class="big-text" align="center">I n c r i m i n a T o r</div>

     <div class="field-form">
       <form method="post" enctype="multipart/form-data" autocomplete="off">
         <table cellspacing="0" align="center">
           {% csrf_token %}
           {% for field in index_form %}
             <tr>
               <td>{{ field.label_tag }}</td>
               <td class="text-input">{{ field }}</td>
             </tr>
             <tr><td><br></td></tr>
           {% endfor %}
          </table>
          <br><br><br>
          <div align="center">
            <div align="center"><input type="submit" value="Let's dive in" class="go-btn"/></div>
          </div>
          <br><br><br>
        </form>
      </div>

      <br><br>


      <p>{{ hello }}</p>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="index.js"></script>
  </body>
</html>
